<div id="icon-loader" style="margin:1rem 10px">
    <i id="fa-sync-alt" class="rotating fas fa-2x fa-sync-alt text-info" style="display:none"></i>
    <i id="fa-check" class="fas fa-2x fa-check text-info" style="display:none"></i>
</div>