@using ERP.Web.UI.Models.ViewModels.AidModule
@model ScCommitteeDetailVM

<div class="card">
    <div class="body">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.TextAreaFor(z => z.RefuseDescription, new { @class = "form-control" })
                        @Html.LabelFor(z => z.RefuseDescription, new { @class = "form-label" })
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group m-2" style="margin-top:15px !important">
                    <button onclick="return SubmitPostpone(@ViewBag.id)" class="btn btn-success">@ERP.ResourcePack.Common.Settings.Agree</button>
                </div>
            </div>
        </div>

    </div>
</div>