<div class="modal fade " id="main-modal" role="dialog"
     aria-labelledby="main-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="main-modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button href="javascript:;" class="btn btn-danger btn-smf waves-effect" data-dismiss="modal">
                   @ERP.ResourcePack.Common.Settings.BtnClose
                </button>
            </div>
        </div>
    </div>
</div>
<div></div>
