@using ERP.ResourcePack.CharityBoxes
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <div class="">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="tblTmDamagedCharityBoxsDetail" style="width:100%">
                        <thead>
                            <tr>
                                <th><i class="fas fa-hashtag"></i></th>
                                <th>@TmCharityBoxCollect.BarCode</th>
                                <th>@TmCharityBoxCollect.CharityBox</th>
                                <th>@TmDamagedCharityBoxs.DamageReason</th>
                                <th><i class="fas fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
