<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
            <div id="tblLoaderDetail" style="display:none">
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
            <table class="dt-responsive no-footer nowrap table table-bordered table-striped w-100" id="tblPayments" cellspacing="0">
                <thead>
                    <tr>
                        <th><i class="fas fa-hashtag"></i></th>
                        <th>@ERP.ResourcePack.AidModule.ScMaintenanceContract.PayemtNo</th>
                        <th>@ERP.ResourcePack.Accounts.ArMiscReceiptHeaders.MaturityDate</th>
                        <th>@ERP.ResourcePack.AidModule.ScMaintenancePayments.Amount</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

