@using ERP.ResourcePack.AidModule
@using ERP.ResourcePack.Accounts
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="tblAccountLines" style="width:100%">
                <thead>
                    <tr>
                        <th><i class="fas fa-hashtag"></i></th>
                        <th>@ScMaintenanceTechnicalReport.DetailItemDescription</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>
