
@*@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/dist/themes/default/style.min.css" rel="stylesheet" />
<link href="~/Content/@ERP.ResourcePack.Common.Styles.treeStyles" rel="stylesheet" />
<div class="wrapper-tree card p-3">
    <input id="search" type="search" placeholder="بحث" class="form-control">
    @*<hr>*@
    <div id="jstree"></div>
</div>*@


