@using ERP.ResourcePack.AidModule
@{
    string insertTrigger = ERP.Front.Helpers.Enums.Common.FormTriggers.Insert.ToString();
    string encInsertTrigger = ERP.Front.Helpers.Enums.Common.EncInsert;
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover" id="tblAttachments">
                        <thead>
                            <tr>
                                <th><i class="fas fa-hashtag"></i></th>
                                <th>@ScPortalRequestStudy.AttachmentName</th>
                                <th><i class="fas fa-download"></i></th>
                                <th><i class="fas fa-eye"></i></th>
                                <th><i class="fas fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
